<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantantes 2020</title>
</head>

<body>
    <h1>Selena Gomez</h1>
    <p>Selena Marie Gomez (Grand Prairie, Texas; 22 de julio de 1992) es una cantante, compositora, actriz, productora de 
        televisión, filántropa y diseñadora de moda estadounidense. Inició su carrera como actriz a los 10 años
         con el papel secundario de Gianna en la serie infantil Barney & Friends. Participó en ella hasta 2004, cuando se vio forzada a 
         retirarse del elenco.​ Luego de eso, hizo apariciones pequeñas en películas y series de televisión como Spy Kids 3-D: Game Over (2003),
          Walker, Texas Ranger: Trial by Fire (2005) y Brain Zapped (2006). A partir de 2006 apareció en diversas series del canal de televisión Disney 
          Channel como The Suite Life of Zack and Cody y Hannah Montana.</p>
    <p>El 12 de diciembre de 2019, se desveló la portada, así como el título y la lista de canciones del que sería su tercer trabajo discográfico como
         solista, Rare. El álbum fue lanzado el 10 de enero de 2020 y se convirtió en su segundo trabajo con el sello discográfico Interscope Records, 
         su tercer álbum de estudio en solitario y su sexto álbum de estudio teniendo en cuenta sus trabajos anteriores como vocalista de
          Selena Gomez & the Scene. El álbum debutó en la cima del Billboard 200 de Estados Unidos, convirtiéndose en el tercer álbum número uno de 
          Gomez en el país y su tercer número uno consecutivo.</p>
    <p>La voz de Gomez posee el registro de mezzosoprano y abarca dos octavas y dos notas.2​ Su registro vocal se extiende desde la nota re menor hasta l
        fa sostenido mayor. Su voz se describe como «una dulce, ligera voz combinada con oscuros, saludables bajos. La voz es clara y cortada a cada 
        registro», sin embargo, «la falta de vibrato hace que las notas suenen ásperas, y las notas de pecho llevan poco, casi nada de poder con ellas.
        Además de usar su voz, Gomez también ha mostrado destreza tocando la armónica y el piano.177​178​ Según Tim Sendra de Allmusic, en Kiss & Tell 
        «la variedad de estilos y sonidos es muy impresionante», ya que tiene ráfagas de pop punk, canciones dance influenciadas por la música latina, 
        baladas lentas y temas techno de pista de baile.</p>
    <a href="https://es.wikipedia.org/wiki/Selena_Gomez">Ir a la pagina de Selena Gomez en wiki</a>

    <h2>Rina Sawayama</h2>
    <p>Es una cantautora y modelo británico-japonesa. Nacida en Japón, fue criada desde una edad temprana en Londres, donde reside actualmente. Su EP debut, Rina, 
        se lanzó en 2017 y su álbum de estudio debut, Sawayama, salió a la venta en 2020.</p>
    <p> La producción de Sawayama ha sido recibida con gran éxito de crítica, y ha aparecido en la serie The Fader Gen F,​ y la serie i-D Meets, así como en The Guardian,
         Paper Magazine, The New York Times23​ y en el portada de la revista Clash</p>
    <a href="https://es.wikipedia.org/wiki/Rina_Sawayama">Ir a la pagina de Rina Sawayama en wiki</a>

    <h2>Katy Perry</h2>
    <p>Katheryn Elizabeth Hudson (Santa Bárbara, California; 25 de octubre de 1984), más conocida por su nombre artístico Katy Perry, es una cantante, compositora, actriz, 
        empresaria y modelo estadounidense, que saltó a la fama en 2008 con «I Kissed a Girl» y «Hot N Cold» de su álbum debut One of the Boys. Entre 2010 y 2011,
         cosechó todavía mayor éxito con su segundo álbum,Teenage Dream, que para su promoción lanzó seis sencillos de los cuales cinco —«California Gurls», «Teenage Dream», 
         «Firework», «E.T» y «Last Friday Night (T.G.I.F.)»— se ubicaron en el puesto número 1 del Billboard Hot 100, lo que la convirtió en la primera artista femenina en lograr
          dicha hazaña y la segunda en general después de Michael Jackson con su álbum Bad (1987).</p>
    <a href="https://es.wikipedia.org/wiki/Katy_Perry">Ir a la pagina de Katy Perry en wiki</a>

    <h2>Dua Lipa</h2>
    <p>es una cantante, compositora, modelo y diseñadora de moda británica de origen albano-kosovar. Inició su carrera musical a los 14 años, cuando comenzó a hacer covers de 
         canciones de otros artistas en YouTube. En 2015, después de trabajar como modelo, firmó con la discográfica Warner Music Group y con 19 años lanzó su primer 
         sencillo, «New Love», seguido de «Be the One».</p>
    <p>Su segundo álbum de estudio, Future Nostalgia, se lanzó el 27 de marzo de 2020 y su sencillo principal, «Don't Start Now», alcanzó el número 2 tanto en la
         UK Singles Chart como en la Billboard Hot 100.</p>
    <a href="https://es.wikipedia.org/wiki/Dua_Lipa">Ir a la pagina de Dua Lipa en wiki</a>
</body>

</html>